body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.login-container {
    width: 300px;
    margin: auto;
    padding: 20px;
    background: white;
    border-radius: 5px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #f4f4f4;
    border-bottom: 2px solid #ccc;
}

.saudacao {
    text-align: left;
}

.logout {
    text-align: right;
}

.logout button {
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.logout button:hover {
    background-color: #c9302c;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #333;
}

.menu li {
    position: relative;
}

.menu li a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    background-color: #333;
}

.menu li:hover > a {
    background-color: #555;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 200px;
}

.dropdown-menu li a {
    padding: 10px;
    display: block;
    color: white;
    text-decoration: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

#sugestoes {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    position: absolute;
    width: 200px;
}

#sugestoes ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sugestoes li {
    padding: 5px;
    cursor: pointer;
}

#sugestoes li:hover {
    background-color: #ddd;
}


form:not(.form-control):not(.btn) {

}


label:not(.form-label) {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"]:not(.form-control),
input[type="email"]:not(.form-control),
input[type="password"]:not(.form-control),
select:not(.form-select) {
    width: 80%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}


button:not(.btn) {
    width: 80%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:not(.btn):hover {
    background-color: #0056b3;
}

.btn-sair {
    margin-left: 950px;
}
.form-control{
    width: 100%;
    padding: 6px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
/* 
.voltar {
    background-color: #333;
}
*/
